.text__1{
	color: blue;
	font-size: 45PX;
	font-family: "algebrik 93";
	text-align: center;
	
}
.text__2{
	color: red;font-size: 45PX;
	font-family: "algebrik 93";
	text-align: center;
	
}
.text__3{
	color: yellow;
	font-size: 45PX;
	font-family: "algebrik 93";
	text-align: center;
	
}
.text__4{
	color: blue;
	font-size: 45PX;
	font-family: "algebrik 93";
	text-align: center;
	
}
.text__5{
	color: green;
	font-size: 45PX;
	font-family: "algebrik 93";
	text-align: center;
	
}
.text__6{
	color: red;
	font-size: 45PX;
	font-family: "algebrik 93";
	text-align: center;



}